@using UPD8.CSharp.Infrastructure.Entities.EF
@{
    ViewData["Title"] = "Consulta Cliente";
    var customers = ViewData["Customers"] as List<CustomerEntity>;
}
<div class="container">
    <div class="row jumbotron" style="padding: 10px;">
        <div class="col-12">
            <p>
                <b>@ViewData["Title"]</b>
            </p>
        </div>

        <div class="col-12">
            <form action="">
                <a class="btn btn-primary" asp-controller="Home" asp-action="GetCustomer">
                    Pesquisar
                </a>
                <a class="btn btn-light" style="margin-left:5px;">
                    Limpar
                </a>
            </form>
        </div>
    </div>

    <div class="row jumbotron" style="padding: 10px;margin-top: 50px;">
        <div class="col-12">
            <p>
                <b>Resultado da Pesquisa</b>
            </p>
        </div>

        <div class="table-responsive col-12">
            <table class="table table-sm">
                <thead>
                    <tr style="text-align: center;">                        
                        <th scope="col" style="width: 5px;"></th>
                        <th scope="col" style="width: 5px;"></th>
                        <th scope="col">Cliente</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Data Nasc.</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Sexo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in customers)
                    {
                        <tr style="text-align: center;">
                            <td>
                                <a class="btn btn-success" asp-controller="Home" asp-action="GetCustomerById"
                                asp-route-id="@item.Id">
                                    Editar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-action="DeleteCustomerById" asp-route-id="@item.Id">
                                    Excluir
                                </a>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Document</td>
                            <td>@item.Birth.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.State</td>
                            <td>@item.City</td>
                            <td>@item.Gender</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
