@using UPD8.CSharp.Infrastructure.Entities.EF
@{
    ViewData["Title"] = "Cadastro Cliente";
    var customer = ViewData["Customer"] as CustomerEntity;
}
<div class="container">
    <div class="row jumbotron" style="padding: 10px;">
        <div class="col-12">
            <p>
                <b>@ViewData["Title"]</b>
            </p>
        </div>

        <form class="row" action="">
            <div class="col-12 col-md-3">
                <label>CPF</label>
                <input type="text" class="form-control" aria-label="Document" value="@customer.Document" />
            </div>

            <div class="col-12 col-md-3">
                <label>Nome</label>
                <input type="text" class="form-control" aria-label="Name" value="@customer.Name" />
            </div>

            <div class="col-12 col-md-3">
                <label>Data Nascimento</label>
                <input type="date" class="form-control" aria-label="Birth" value="@customer.BirthText" />
            </div>

            <div class="col-12 col-md-3">
                <label>Sexo</label>
                <div class="input-group mb-3">
                    <select class="custom-select" >
                        <option>Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <label>Endereço</label>
                <input type="text" class="form-control" aria-label="Address" value="@customer.Address" />
            </div>

            <div class="col-12 col-md-3">
                <label>Estado</label>
                <input type="text" class="form-control" aria-label="State" value="@customer.State" />
            </div>

            <div class="col-12 col-md-3">
                <label>Cidade</label>
                <input type="text" class="form-control" aria-label="City" value="@customer.City" />
            </div>
            <div class="col-12" style="margin-top: 10px;">
                @if (customer.Id > 0)
                {
                    <a class="btn btn-primary" asp-controller="Home" asp-action="GetCustomer">
                        Editar
                    </a>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Home" asp-action="GetCustomer">
                        Salvar
                    </a>
                }

                <a class="btn btn-light" style="margin-left:5px;" asp-controller="Home" asp-action="CreateCustomer">
                    Limpar
                </a>
            </div>
        </form>
    </div>
</div>
