@using UPD8.CSharp.Infrastructure.Entities.EF
@{
    ViewData["Title"] = "Clientes";
    var customers = ViewData["Customers"] as List<CustomerEntity>;
}
<div class="container">
    <div class="row jumbotron" style="padding: 10px;">
        <div class="col-12">
            <p>
                <b>@ViewData["Title"]</b>
            </p>
        </div>

        <div class="col-12">
            <form action="">
                <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">
                    Pesquisar
                </a>
                <a asp-controller="Customer" asp-action="Create" class="btn btn-success">
                    Criar
                </a>
                <a asp-controller="Customer" asp-action="Index" class="btn btn-light" style="margin-left:5px;">
                    Limpar
                </a>
            </form>
        </div>
    </div>

    <div class="row jumbotron" style="padding: 10px;margin-top: 50px;">
        <div class="col-12" style="text-align: center;">
            <p><b>Resultado da Pesquisa</b></p>
        </div>

        <div class="col-12 table-responsive">
            <table class="table table-sm">
                <thead>
                </thead>
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Cliente</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Data Nasc.</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Sexo</th>
                        <th scope="col" style="width: 10px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in customers)
                    {
                        <tr style="text-align: center;">
                            <td>@item.Name</td>
                            <td>@item.Document</td>
                            <td>@item.Birth.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.State</td>
                            <td>@item.City</td>
                            <td>@item.Gender</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-controller="Customer" asp-action="Update" asp-route-id="@item.Id"
                                   class="btn btn-success">
                                        Editar
                                    </a>
                                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id"
                                   class="btn btn-danger">
                                        Excluir
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>